/**
 * @name Ruby Red
 * @author bsolos#3399
 * @version 0.9
 * @description Changes discord dark theme colors to red
 * @website http://bsolos.heliohost.org
*/

.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #ad0000;
    --text-link: #8c4e4e;
    --channels-default: #929292;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #730000;
    --background-primary: #950303;
    --background-secondary: #480000;
    --background-secondary-alt: #6b0000;
    --background-tertiary: #690404;
    --background-accent: #730000;
    --background-floating: #8e0909;
    --background-mobile-primary: #8e5050;
    --background-mobile-secondary: #520000;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --focus-primary: #f40000;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #520000;
    --activity-card-background: #460000;
    --textbox-markdown-syntax: #825050;
}