/**
 * @name Ruby Red
 * @author bsolos#3399
 * @version 0.9.4
 * @description Changes discord dark theme colors to red
 * @website http://bsolos.heliohost.org
*/

.theme-light {
    --header-primary: #060607;
    --header-secondary: #4f5660;
    --text-normal: #2e3338;
    --text-muted: #747f8d;
    --text-link: #0067e0;
    --channels-default: #6a7480;
    --interactive-normal: #4f5660;
    --interactive-hover: #2e3338;
    --interactive-active: #060607;
    --interactive-muted: #c7ccd1;
    --background-primary: #fff;
    --background-secondary: #f2f3f5;
    --background-secondary-alt: #ebedef;
    --background-tertiary: #e3e5e8;
    --background-accent: #747f8d;
    --background-floating: #fff;
    --background-mobile-primary: #f8f9f9;
    --background-mobile-secondary: #fff;
    --background-modifier-hover: rgba(116,127,141,0.08);
    --background-modifier-active: rgba(116,127,141,0.16);
    --background-modifier-selected: rgba(116,127,141,0.24);
    --background-modifier-accent: rgba(6,6,7,0.08);
    --background-mentioned: rgba(250,166,26,0.1);
    --background-mentioned-hover: rgba(250,166,26,0.2);
    --background-message-hover: rgba(6,6,7,0.02);
    --elevation-stroke: 0 0 0 1px rgba(6,6,7,0.08);
    --elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.08);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.16);
    --logo-primary: #7289da;
    --focus-primary: #00b0f4;
    --guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4);
    --channeltextarea-background: #ebedef;
    --activity-card-background: #fff;
    --textbox-markdown-syntax: #6a7480;
    --inset-color: #ebedef;
	--card-color: #f2f3f5;
	--card-border-color: #fff;
}

.theme-dark {
    --header-primary: #FFF;
    --header-secondary: #B9BBBE;
    --text-normal: #DCDDDE;
    --text-muted: #DCDDDE;
    --text-link: #48FFFB;
    --channels-default: #dcddde;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #828282;
    --background-primary: #950303;
    --background-secondary: #480000;
    --background-secondary-alt: #6b0000;
    --background-tertiary: #690404;
    --background-accent: #730000;
    --background-floating: #8e0909;
    --background-mobile-primary: #8e5050;
    --background-mobile-secondary: #520000;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #FFF;
    --focus-primary: #F40000;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #520000;
    --activity-card-background: #460000;
    --textbox-markdown-syntax: #825050;
    --inset-color: #B50000;
	--card-color: #710A0A;
	--card-border-color: #8C0000;
}

.da-body {
	background-color: var(--background-secondary)!important;
}

.da-inset {
    background-color: var(--inset-color)!important;
}

.da-footer {
    background-color: var(--background-secondary)!important;
}

.da-focused {
    background-color: var(--background-primary)!important;
}

.da-selected {
    background-color: var(--background-primary)!important;
}

.da-timestamp {
    color: var(--text-normal)!important;
}

#bd-pub-button {
    background-color: var(--background-primary)!important;
    color: var(--text-normal)!important;
}

.da-uploadModal {
    background-color: var(--background-primary)!important;
}

.da-peopleColumn {
    background-color: var(--background-primary)!important;
}

.da-quickMessage {
	background-color: var(--channeltextarea-background)!important;
	border-color: var(--card-border-color)!important;
}

.da-option:after {
    background: linear-gradient(90deg, var(--background-secondary), var(--background-tertiary), 80%)!important;
}

.bodyInner-245q0L {
    background-color: var(--background-primary)!important;
}


.da-header.da-headerNormal {
    background-color: var(--background-tertiary)!important;
}

.da-card.da-flex.da-directionRow {
    background-color: var(--card-color)!important;
	border-color: var(--card-border-color)!important;
}

.da-container.da-elevationBorderHigh {
    background-color: var(--background-secondary)!important;
}

.scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: var(--background-tertiary)!important;
    border: 4px solid var(--background-primary)!important;
}